<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registration</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div th:insert="~{fragments/navbar :: body}"></div>

    <div class="toast-container position-fixed top-10 end-0 p-3">
      <div class="toast show" th:if="${message != null}">
        <div
          class="toast-body bg-success text-light"
          th:text="${message}"
        ></div>
      </div>
    </div>
    <div class="toast-container position-fixed top-10 end-0 p-3">
      <div class="toast show" th:if="${error != null}">
        <div class="toast-body bg-danger text-light" th:text="${error}"></div>
      </div>
    </div>
    <script>
      var toast = document.querySelector(".toast");
      if (toast) {
        setTimeout(function () {
          toast.remove();
        }, 2000);
      }
    </script>

    <div class="container mt-3">
      <h1>Course List</h1>
      <a th:href="@{/course/detailedView}"> Detailed View</a>
      <div th:if="${courseList.isEmpty}" class="m-3">
        <span class="text-danger"
          ><strong>There is no course found.</strong></span
        >
      </div>
      <div th:if="${!courseList.isEmpty}" th:each="st : ${courseList}">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">
                #
                <a
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Sort"
                  th:href="@{/course/sortById}"
                >
                  <i class="bi bi-sort-numeric-down"></i
                ></a>
                <a
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Sort"
                  th:href="@{/course/sortByIdDesc}"
                >
                  <i class="bi bi-sort-numeric-down-alt"></i
                ></a>
              </th>
              <th scope="col">
                Course Name
                <a
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  title="Sort"
                  th:href="@{/course/sortByName}"
                >
                  <i class="bi bi-sort-alpha-down"></i
                ></a>
                <a
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  title="Sort"
                  th:href="@{/course/sortByNameDesc}"
                >
                  <i class="bi bi-sort-alpha-down-alt"></i
                ></a>
              </th>
              <th scope="col">
                Course Code
                <a
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  title="Sort"
                  th:href="@{/course/sortByCode}"
                >
                  <i class="bi bi-sort-alpha-down"></i
                ></a>
                <a
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  title="Sort"
                  th:href="@{/course/sortByCodeDesc}"
                >
                  <i class="bi bi-sort-alpha-down-alt"></i
                ></a>
              </th>
              <th>Professor Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="st : ${courseList}">
              <td th:text="${st.id}"></td>
              <td th:text="${st.name}"></td>
              <td th:text="${st.code}"></td>
              <td
                th:if="${st.professor != null}"
                th:text="${st.professor.name}"
              ></td>
              <td th:if="${st.professor == null}">Not Assigned</td>
              <td>
                <a th:href="@{/course/details/{id}(id=${st.id})}">Details</a>
                <a th:href="@{/course/edit/{id}(id=${st.id})}">Edit</a>
                <a
                  class="btn btn-sm btn-danger"
                  th:href="@{/course/delete/{id}(id=${st.id})}"
                  >Delete</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <br />
      <div th:insert="~{fragments/links_course :: body}"></div>
    </div>
    &nbsp;&nbsp;

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script>
      var tooltipTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
      );
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });
    </script>
  </body>
  <div class="container" th:insert="~{fragments/footer :: footer}"></div>
</html>
