<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registration</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div th:insert="~{fragments/navbar :: body}"></div>

    <div class="toast-container position-fixed top-10 end-0 p-3">
      <div class="toast show" th:if="${error != null}">
        <div class="toast-body bg-danger text-light" th:text="${error}"></div>
      </div>
    </div>

    <div class="container mt-3">
      <h1>Search</h1>
      <div class="row">
        <div class="col col-4">
          <form th:action="@{/course/searchById}">
            <div class="mb-3">
              <label for="id" class="form-label">Search Course by Id</label>
              <input type="number" class="form-control" name="id" required />
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <br />
        </div>
        <div class="col col-4">
          <form th:action="@{/course/searchByName}">
            <div class="mb-3">
              <label for="name" class="form-label">Search Course by Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                placeholder="Type search string"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <br />
        </div>
        <div class="col col-4">
          <form th:action="@{/course/searchByCode}">
            <div class="mb-3">
              <label for="code" class="form-label">Search Course by Code</label>
              <input
                type="text"
                class="form-control"
                name="code"
                placeholder="Type search string"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <br />
        </div>
        <hr />
      </div>
      <h2>Results</h2>
      <table class="table table-stripped">
        <thead>
          <tr>
            <th>#</th>
            <th>Course Name</th>
            <th>Course Code</th>
            <!-- <th>Professor Name</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="st : ${courseList}">
            <td th:text="${st.id}"></td>
            <td th:text="${st.name}"></td>
            <td th:text="${st.code}"></td>
            <!-- <td th:if="${st.professor != null}" th:text="${st.professor.name}"></td>
            <td th:if="${st.professor == null}" > Not Assigned</td> -->
            <td>
              <a th:href="@{/course/details/{id}(id=${st.id})}">Details</a>
              <a th:href="@{/course/edit/{id}(id=${st.id})}">Edit</a>
              <a
                class="btn btn-sm btn-danger"
                th:href="@{/course/delete/{id}(id=${st.id})}"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div th:insert="~{fragments/links_course :: body}"></div>
    </div>
    &nbsp;&nbsp;
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script>
      var toast = document.querySelector(".toast");
      if (toast) {
        setTimeout(function () {
          toast.remove();
        }, 2000);
      }
    </script>
  </body>
  <div class="container" th:insert="~{fragments/footer :: footer}"></div>
</html>
